<table width="90%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
			<div class="urbangreymenu">
				<h3 class="headerbar">Shortcuts</h3>
				<ul>									
					<li><a href="<?$MAIN?>index.php?mod=admin&task=list">List of Users</a></li>		
					<li><a href="<?$MAIN?>index.php?mod=admin&task=add">Add/Invite User</a></li>						
					<li><a href="<?$MAIN?>index.php?mod=adminlogs">View Admin User Logs</a></li>						
					<li><a href="<?$MAIN?>index.php">Back to Main</a></li>							
					<li class="border_top"></li>					
				</ul>		
			</div>
		</td>
	</tr>
</table>

