<table width="90%" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td valign="top">
			<div class="urbangreymenu">
				<h3 class="headerbar">Shortcuts</h3>
				<ul>
					<li><a href="index.php?mod=profile&type=pass">Change Password</a></li>
					<li><a href="index.php?mod=profile&type=info&task=edit">Update Profile</a></li>					
					<li><a href="index.php?mod=profile&type=info&task=view">View Profile</a></li>										
					<li><a href="index.php">Back to Main</a></li>					
					<li class="border_top"></li>
				</ul>		
			</div>
		</td>
	</tr>
</table>
