<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
	    <title>{title}</title>
	    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" /> 
		<meta http-equiv="Content-Type" content="text/html; charset={meta_charset}"/>
		<meta name="description" content="{meta_description}" />
		<meta name="keywords" content="{meta_keywords}" />
		<meta name="author" content="{meta_author}" />
                <link rel="stylesheet" href="{css}mystyles.css" type="text/css"/>
	</head>
	
	<body>
		<table cellpadding="0" cellspacing="0" border="0" class="main" align="center">			
			<tr><td height="100px">&nbsp;</td></tr>
			<tr><td align="center" class="header">User Login</td></tr>
			<tr><td>&nbsp;</td></tr>
			<tr>
				<td valign="middle">
					<table cellpadding="5" class="login loginform" cellspacing="5" border="0" align="center">
						<tr>							
							<td align="center">{logo}</td><td align="center">{login}</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr><td height="50px">&nbsp;</td></tr>
			<tr><td><table cellpadding="0" align="center" cellspacing="0" border="0">
	<tr><td align="center" class="foot_text">Copyright {year}. All Rights Reserved</td></tr>
	</table></td></tr>
		</table>
	</body>
</html>
